#input-text {
    padding-left: 5%;
}

.fa-check-circle {
    color: green;
}

.fa-times-circle{ 
    color: red;
}

.fa-check-circle:hover {
    cursor: pointer;
}

.fa-times-circle:hover {
    cursor: pointer; 
}
